* @amuletofloss
/.github/ @amuletofloss
/config/ @amuletofloss
/governance/ @amuletofloss
/Retencion_Academica_SIES.Report/ @amuletofloss
/Retencion_Academica_SIES.SemanticModel/ @amuletofloss
/scripts/ @amuletofloss
/siespbip/ @amuletofloss
/datos/ @amuletofloss
